name: Documentation

on:
  push:
    branches: [develop, main]
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: docs
  cancel-in-progress: false

jobs:
  deploy:
    name: "deploy: docs"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Deploy docs
        uses: wphillipmoore/standard-actions/actions/docs-deploy@develop
        with:
          version-command: cat VERSION | cut -d. -f1,2
